
{% include "viterbi_demo/header.html"%}
<body>
<script type="text/javascript">
var myOwn = "Use my own text"

    // Cookie code below is utilized for accessing csrf cookie for AJAX
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function() {
        // fixing csrf cookie check for ajax
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $("#output").hide();

        if ($("#id_source").val() != myOwn)
        {
            $("#id_user_text").hide();
            $("label[for='id_user_text']").hide();
        }


        $("#id_source").change(function() {
            if ($("#id_source").val() == myOwn) {
                $("#id_user_text").show();
                $("label[for='id_user_text']").show();
                }
            else { $("#id_user_text").hide(); $("label[for='id_user_text']").hide();}

        });

        $("#submit_form").click(function(event) {
            event.preventDefault();
            if ($("#id_source").val() == myOwn || $("#id_user_text").val()) {
                if ($("#id_user_text") == undefined || $("#id_user_text").val().length < 100) {
                    $("#output").text("Please input your own text or select a different source option! The recommended text length is no less than a page.");
                }
            }
            else {
                $.ajax({
                    type: "POST",
                    data: $('#input_form').serialize(),
                    success: function(result){
                        $("#output").show();
                        $("#message").text(result["data"]);
                    }
                })
            }
        });
    });

</script>

<div class="container">
    <div class="jumbotron" style="padding-top:2em">
        <h1>Viterbi Algorithm Demo            </h1>
        <h2 style="clear:both">Simply fill out the form below
            <span class="label label-success" >Now with AJAX!</span>
        </h2>

    </div>
    <div class="row">
    <div class="col-md-4 col-md-offset-4">


        <form action="" method="post" class="form-horizontal" id="input_form">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="submit_form" type="submit" value="Submit"  class="btn btn-primary form-control"/>
        </form>


    </div>
    </div>
    <div class="row" style="padding:1em">
                <div id="output" class="well">
            <p><strong>Output:</strong></p>
                <p id="message">{{ message }}</p>
        </div>
    </div>
</div>
</body>
</html>