<html>
<head>


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'viterbi_demo/3.6.6.bootstrap.min.css'%}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
</head>
<body>
<script type="text/javascript">
var myOwn = "Use my own text"
    $(document).ready(function() {
        if ($("#id_source").val() != myOwn)
        {
            $("#id_user_text").hide();
            $("label[for='id_user_text']").hide();
        }


        $("#id_source").change(function() {
            if ($("#id_source").val() == myOwn) {
                $("#id_user_text").show();
                $("label[for='id_user_text']").show();
                }
            else { $("#id_user_text").hide(); $("label[for='id_user_text']").hide();}

        });

        $("#submit_form").click(function() {
             if ($("#id_source").val() == myOwn || $("#id_user_text").val()) {
                if ($("#id_user_text") == undefined || $("#id_user_text").val().length < 100) {
                    alert("Please input your own text or select a different source option! The recommended text length is no less than a page.");
                }
             }

        });
    });

</script>

      <p></p>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'index' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="submit_form" type="submit" value="Submit" />
        </form>


        {% if messages %}
            <p><strong>Output:</strong></p>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>